@font-face {
  font-family: 'latoblack';
  src: url("../fonts/lato-black-webfont.eot");
  src: url("../fonts/lato-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-black-webfont.woff2") format("woff2"), url("../fonts/lato-black-webfont.woff") format("woff"), url("../fonts/lato-black-webfont.ttf") format("truetype"), url("../fonts/lato-black-webfont.svg#latoblack") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latoblack_italic';
  src: url("../fonts/lato-blackitalic-webfont.eot");
  src: url("../fonts/lato-blackitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-blackitalic-webfont.woff2") format("woff2"), url("../fonts/lato-blackitalic-webfont.woff") format("woff"), url("../fonts/lato-blackitalic-webfont.ttf") format("truetype"), url("../fonts/lato-blackitalic-webfont.svg#latoblack_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latobold';
  src: url("../fonts/lato-bold-webfont.eot");
  src: url("../fonts/lato-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-bold-webfont.woff2") format("woff2"), url("../fonts/lato-bold-webfont.woff") format("woff"), url("../fonts/lato-bold-webfont.ttf") format("truetype"), url("../fonts/lato-bold-webfont.svg#latobold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latobold_italic';
  src: url("../fonts/lato-bolditalic-webfont.eot");
  src: url("../fonts/lato-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-bolditalic-webfont.woff2") format("woff2"), url("../fonts/lato-bolditalic-webfont.woff") format("woff"), url("../fonts/lato-bolditalic-webfont.ttf") format("truetype"), url("../fonts/lato-bolditalic-webfont.svg#latobold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latohairline';
  src: url("../fonts/lato-hairline-webfont.eot");
  src: url("../fonts/lato-hairline-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-hairline-webfont.woff2") format("woff2"), url("../fonts/lato-hairline-webfont.woff") format("woff"), url("../fonts/lato-hairline-webfont.ttf") format("truetype"), url("../fonts/lato-hairline-webfont.svg#latohairline") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latohairline_italic';
  src: url("../fonts/lato-hairlineitalic-webfont.eot");
  src: url("../fonts/lato-hairlineitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-hairlineitalic-webfont.woff2") format("woff2"), url("../fonts/lato-hairlineitalic-webfont.woff") format("woff"), url("../fonts/lato-hairlineitalic-webfont.ttf") format("truetype"), url("../fonts/lato-hairlineitalic-webfont.svg#latohairline_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latoitalic';
  src: url("../fonts/lato-italic-webfont.eot");
  src: url("../fonts/lato-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-italic-webfont.woff2") format("woff2"), url("../fonts/lato-italic-webfont.woff") format("woff"), url("../fonts/lato-italic-webfont.ttf") format("truetype"), url("../fonts/lato-italic-webfont.svg#latoitalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latolight';
  src: url("../fonts/lato-light-webfont.eot");
  src: url("../fonts/lato-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-light-webfont.woff2") format("woff2"), url("../fonts/lato-light-webfont.woff") format("woff"), url("../fonts/lato-light-webfont.ttf") format("truetype"), url("../fonts/lato-light-webfont.svg#latolight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latolight_italic';
  src: url("../fonts/lato-lightitalic-webfont.eot");
  src: url("../fonts/lato-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-lightitalic-webfont.woff2") format("woff2"), url("../fonts/lato-lightitalic-webfont.woff") format("woff"), url("../fonts/lato-lightitalic-webfont.ttf") format("truetype"), url("../fonts/lato-lightitalic-webfont.svg#latolight_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latoregular';
  src: url("../fonts/lato-regular-webfont.eot");
  src: url("../fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato-regular-webfont.woff") format("woff"), url("../fonts/lato-regular-webfont.ttf") format("truetype"), url("../fonts/lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 133, ../sass/_base.scss */
body,
html {
  font-family: "latoregular", sans-serif; }

/*------------------------------------*/
/*	Header Section					  */
/*------------------------------------*/
/* line 5, ../sass/partials/_header.scss */
header#home {
  background-color: #da727e;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFDA727E', endColorstr='#FF685C79');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RhNzI3ZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY4NWM3OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #da727e), color-stop(100%, #685c79));
  background-image: -moz-linear-gradient(left, #da727e 0%, #685c79 100%);
  background-image: -webkit-linear-gradient(left, #da727e 0%, #685c79 100%);
  background-image: linear-gradient(to right, #da727e 0%, #685c79 100%);
  padding-bottom: 8em;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 65% 100%, 0 80%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 65% 100%, 0 80%); }

/*------ Main menu --------*/
/* line 14, ../sass/partials/_header.scss */
.navbar-light .navbar-brand {
  font-family: "latoblack", sans-serif;
  font-size: 1.5rem;
  color: #ffffff; }

/* line 23, ../sass/partials/_header.scss */
.navbar-nav .nav-item .nav-link {
  color: #2c3e50; }
  /* line 26, ../sass/partials/_header.scss */
  .navbar-nav .nav-item .nav-link:hover, .navbar-nav .nav-item .nav-link:focus {
    color: #ffffff; }

/*------ Header content --------*/
/* line 37, ../sass/partials/_header.scss */
.circles-container {
  position: relative; }

/* line 40, ../sass/partials/_header.scss */
.circle-planet {
  position: absolute;
  top: 28%;
  left: 43%;
  width: 18.125rem;
  height: 18.125rem; }
  /* line 25, ../sass/helper/_mixins.scss */
  .circle-planet div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
    /* line 33, ../sass/helper/_mixins.scss */
    .circle-planet div:nth-child(1) {
      width: 15.625rem;
      height: 15.625rem;
      background: #ffbc67;
      border-radius: 50%;
      z-index: 2; }
    /* line 38, ../sass/helper/_mixins.scss */
    .circle-planet div:nth-child(2) {
      width: 16.875rem;
      height: 16.875rem;
      background: rgba(255, 188, 103, 0.5);
      border-radius: 50%;
      z-index: 1; }
    /* line 43, ../sass/helper/_mixins.scss */
    .circle-planet div:nth-child(3) {
      width: 18.125rem;
      height: 18.125rem;
      background: rgba(255, 188, 103, 0.2);
      border-radius: 50%;
      z-index: 0; }

/* line 43, ../sass/partials/_header.scss */
.circle-html {
  position: absolute;
  top: 0;
  left: 27%;
  width: 10rem;
  height: 10rem; }
  /* line 25, ../sass/helper/_mixins.scss */
  .circle-html div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
    /* line 33, ../sass/helper/_mixins.scss */
    .circle-html div:nth-child(1) {
      width: 7.5rem;
      height: 7.5rem;
      background: #685c79;
      border-radius: 50%;
      z-index: 2; }
    /* line 38, ../sass/helper/_mixins.scss */
    .circle-html div:nth-child(2) {
      width: 8.75rem;
      height: 8.75rem;
      background: rgba(104, 92, 121, 0.5);
      border-radius: 50%;
      z-index: 1; }
    /* line 43, ../sass/helper/_mixins.scss */
    .circle-html div:nth-child(3) {
      width: 10rem;
      height: 10rem;
      background: rgba(104, 92, 121, 0.2);
      border-radius: 50%;
      z-index: 0; }

/* line 46, ../sass/partials/_header.scss */
.circle-css {
  position: absolute;
  top: 37%;
  left: 2%;
  width: 10rem;
  height: 10rem; }
  /* line 25, ../sass/helper/_mixins.scss */
  .circle-css div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
    /* line 33, ../sass/helper/_mixins.scss */
    .circle-css div:nth-child(1) {
      width: 7.5rem;
      height: 7.5rem;
      background: #685c79;
      border-radius: 50%;
      z-index: 2; }
    /* line 38, ../sass/helper/_mixins.scss */
    .circle-css div:nth-child(2) {
      width: 8.75rem;
      height: 8.75rem;
      background: rgba(104, 92, 121, 0.5);
      border-radius: 50%;
      z-index: 1; }
    /* line 43, ../sass/helper/_mixins.scss */
    .circle-css div:nth-child(3) {
      width: 10rem;
      height: 10rem;
      background: rgba(104, 92, 121, 0.2);
      border-radius: 50%;
      z-index: 0; }

/* line 49, ../sass/partials/_header.scss */
.circle-js {
  position: absolute;
  top: 75%;
  left: 27%;
  width: 10rem;
  height: 10rem; }
  /* line 25, ../sass/helper/_mixins.scss */
  .circle-js div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
    /* line 33, ../sass/helper/_mixins.scss */
    .circle-js div:nth-child(1) {
      width: 7.5rem;
      height: 7.5rem;
      background: #685c79;
      border-radius: 50%;
      z-index: 2; }
    /* line 38, ../sass/helper/_mixins.scss */
    .circle-js div:nth-child(2) {
      width: 8.75rem;
      height: 8.75rem;
      background: rgba(104, 92, 121, 0.5);
      border-radius: 50%;
      z-index: 1; }
    /* line 43, ../sass/helper/_mixins.scss */
    .circle-js div:nth-child(3) {
      width: 10rem;
      height: 10rem;
      background: rgba(104, 92, 121, 0.2);
      border-radius: 50%;
      z-index: 0; }

/* line 56, ../sass/partials/_header.scss */
.name,
.surname,
.title {
  color: #2c3e50;
  letter-spacing: 1.5px;
  margin: 0; }

/* line 64, ../sass/partials/_header.scss */
.name {
  font-family: "latolight", sans-serif;
  font-size: 3.4375rem;
  text-transform: uppercase; }

/* line 70, ../sass/partials/_header.scss */
.surname {
  font-family: "latoregular", sans-serif;
  font-size: 3.4375rem;
  text-transform: uppercase; }

/* line 76, ../sass/partials/_header.scss */
.title {
  font-family: "latolight_italic", sans-serif;
  font-size: 1.875rem; }

/* line 81, ../sass/partials/_header.scss */
.width-80 {
  width: 80%; }

/* line 85, ../sass/partials/_header.scss */
.header-block {
  padding: 3rem 0; }

/*------------------------------------*/
/*	About Section					  */
/*------------------------------------*/
/* line 5, ../sass/partials/_about.scss */
#about {
  background-color: #f2eee4;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFF2EEE4', endColorstr='#FFFFFFFF');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZWVlNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #f2eee4), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(left, #f2eee4 0%, #ffffff 100%);
  background-image: -webkit-linear-gradient(left, #f2eee4 0%, #ffffff 100%);
  background-image: linear-gradient(to right, #f2eee4 0%, #ffffff 100%);
  padding: 15em 0 6em 0;
  margin-top: -12em; }

/* line 11, ../sass/partials/_about.scss */
.circles-about {
  position: absolute;
  top: 28%;
  left: 43%;
  width: 20rem;
  height: 20rem; }
  /* line 25, ../sass/helper/_mixins.scss */
  .circles-about div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
    /* line 33, ../sass/helper/_mixins.scss */
    .circles-about div:nth-child(1) {
      width: 17.5rem;
      height: 17.5rem;
      background: #6480a7;
      border-radius: 50%;
      z-index: 2; }
    /* line 38, ../sass/helper/_mixins.scss */
    .circles-about div:nth-child(2) {
      width: 18.75rem;
      height: 18.75rem;
      background: rgba(100, 128, 167, 0.5);
      border-radius: 50%;
      z-index: 1; }
    /* line 43, ../sass/helper/_mixins.scss */
    .circles-about div:nth-child(3) {
      width: 20rem;
      height: 20rem;
      background: rgba(100, 128, 167, 0.2);
      border-radius: 50%;
      z-index: 0; }

/* line 15, ../sass/partials/_about.scss */
.circles-timeline-btn {
  position: absolute;
  top: 0;
  left: 27%;
  width: 10rem;
  height: 10rem; }
  /* line 25, ../sass/helper/_mixins.scss */
  .circles-timeline-btn div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
    /* line 33, ../sass/helper/_mixins.scss */
    .circles-timeline-btn div:nth-child(1) {
      width: 7.5rem;
      height: 7.5rem;
      background: #da727e;
      border-radius: 50%;
      z-index: 2; }
    /* line 38, ../sass/helper/_mixins.scss */
    .circles-timeline-btn div:nth-child(2) {
      width: 8.75rem;
      height: 8.75rem;
      background: rgba(218, 114, 126, 0.5);
      border-radius: 50%;
      z-index: 1; }
    /* line 43, ../sass/helper/_mixins.scss */
    .circles-timeline-btn div:nth-child(3) {
      width: 10rem;
      height: 10rem;
      background: rgba(218, 114, 126, 0.2);
      border-radius: 50%;
      z-index: 0; }

/* line 19, ../sass/partials/_about.scss */
.circles-work {
  position: absolute;
  top: 28%;
  left: 43%;
  width: 20rem;
  height: 20rem; }
  /* line 25, ../sass/helper/_mixins.scss */
  .circles-work div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
    /* line 33, ../sass/helper/_mixins.scss */
    .circles-work div:nth-child(1) {
      width: 17.5rem;
      height: 17.5rem;
      background: #6480a7;
      border-radius: 50%;
      z-index: 2; }
    /* line 38, ../sass/helper/_mixins.scss */
    .circles-work div:nth-child(2) {
      width: 18.75rem;
      height: 18.75rem;
      background: rgba(100, 128, 167, 0.5);
      border-radius: 50%;
      z-index: 1; }
    /* line 43, ../sass/helper/_mixins.scss */
    .circles-work div:nth-child(3) {
      width: 20rem;
      height: 20rem;
      background: rgba(100, 128, 167, 0.2);
      border-radius: 50%;
      z-index: 0; }

/* line 23, ../sass/partials/_about.scss */
.circles-gallery-btn {
  position: absolute;
  top: 0;
  left: 27%;
  width: 10rem;
  height: 10rem; }
  /* line 25, ../sass/helper/_mixins.scss */
  .circles-gallery-btn div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
    /* line 33, ../sass/helper/_mixins.scss */
    .circles-gallery-btn div:nth-child(1) {
      width: 7.5rem;
      height: 7.5rem;
      background: #da727e;
      border-radius: 50%;
      z-index: 2; }
    /* line 38, ../sass/helper/_mixins.scss */
    .circles-gallery-btn div:nth-child(2) {
      width: 8.75rem;
      height: 8.75rem;
      background: rgba(218, 114, 126, 0.5);
      border-radius: 50%;
      z-index: 1; }
    /* line 43, ../sass/helper/_mixins.scss */
    .circles-gallery-btn div:nth-child(3) {
      width: 10rem;
      height: 10rem;
      background: rgba(218, 114, 126, 0.2);
      border-radius: 50%;
      z-index: 0; }

/*------------------------------------*/
/*	Work Section					  */
/*------------------------------------*/
/* line 5, ../sass/partials/_work.scss */
#work {
  background-color: #ffbc67;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFFFBC67', endColorstr='#FFE18179');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYmM2NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UxODE3OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffbc67), color-stop(100%, #e18179));
  background-image: -moz-linear-gradient(left, #ffbc67 0%, #e18179 100%);
  background-image: -webkit-linear-gradient(left, #ffbc67 0%, #e18179 100%);
  background-image: linear-gradient(to right, #ffbc67 0%, #e18179 100%);
  padding: 8em 0; }

/*---------- Gallery -------*/
/* line 12, ../sass/partials/_work.scss */
.gallery .left {
  width: 52%;
  float: left;
  padding-right: 7px; }
  /* line 17, ../sass/partials/_work.scss */
  .gallery .left img {
    margin-bottom: 15px; }
/* line 22, ../sass/partials/_work.scss */
.gallery .right {
  width: 48%;
  float: left;
  padding-left: 7px; }
  /* line 27, ../sass/partials/_work.scss */
  .gallery .right img {
    margin-bottom: 15px; }
/* line 32, ../sass/partials/_work.scss */
.gallery img {
  max-width: 100%; }
