//------- Base font --------------
$base-font-size: 16px;

//------- Colors --------------
//Theme colors
$yellow: #ffbc67;
$red: #da727e;
$red-purple: #ac6c82;
$purple: #685c79;
$blue: #455c7b;
$dark-blue: #2c3e50;

$white: #ffffff;
$black: #000000;

//------- Fonts --------------
$lato: 'latoregular', sans-serif;
$latoi: 'latoitalic', sans-serif;
$latoLi: 'latolight_italic', sans-serif;
$latoL: 'latolight', sans-serif;
$latoHi: 'latohairline_italic', sans-serif;
$latoH: 'latohairline', sans-serif;
$latoBi: 'latobold_italic', sans-serif;
$latoB: 'latobold', sans-serif;
$latoBli: 'latoblack_italic', sans-serif;
$latoBl: 'latoblack', sans-serif;
