/*------------------------------------*/
/*	About Section					  */
/*------------------------------------*/

#about {
	@include gradient($about-grey, $white, horizontal, left);
	position: relative;
    padding: 7em 0 7em 0;

	&:before,
	&:after {
		content:  '';
		position:  absolute;
		background: inherit;
		width: 100%;
		height: 50%;
	}

	&:before {
		top: 0;
		transform: translateY(-100%);
	}

	&:after {
		bottom: 0;
		transform: translateY(100%);
	}

}

.circles-about {
	@include circles(320px, $about-blue, 28%, 43%);
}

.circles-timeline-btn {
	@include circles(160px, $red, 0, 27%);
}