header {
	@include gradient($red, $purple, horizontal, left);
}

.navbar-light {
	.navbar-brand {
		font-family: $latoBl;
		font-size: px_to_rem(24px);
		color: $white;
	}
}

.navbar-nav {
	.nav-item {
		.nav-link {
			color: $dark-blue;

			&:hover,
			&:focus {
				color: $white;
			}
		}
	}
}

.name,
.surname,
.title {
	color: $dark-blue;
	letter-spacing: 1.5px;
	margin: 0;
}

.name {
	font-family: $latoL;
	font-size: px_to_rem(55px);
	text-transform: uppercase;
}

.surname {
	font-family: $lato;
	font-size: px_to_rem(55px);
	text-transform: uppercase;
}

.title {
	font-family: $latoLi;
	font-size: px_to_rem(30px);
}

.img-container {
	width: 80%;
}

.header-block {
	padding: 3rem 0;
}